*{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-image: url("stackinghouses.gif");
	background-repeat:no-repeat;
	background-position: stretch center;
	background-size: cover;
	background-attachment: fixed;
}

h1{
  background-color: rgba(30,144,255,0.5);
  padding: 30px;
  text-align: center;
  font-size: 35px;
  font-family: lovelo;
  color: white;
  text-shadow: 1px 1px rgba(1,1,1,0.5);
}

form{
	border: 1px solid grey;
	border-radius: 10px;
	/*box-shadow: 2px 4px 6px rgba(30,144,255,0.6);*/
	background-color: rgba( 93, 109, 126, 0.9);
	margin: 50px 25% 30px 25%;
	padding:40px;
}
div{
 	padding: 10px auto 10px auto;
 	text-align: center;
 	font-family:"Lucida Console", Monaco, monospace;
}

div a{
	text-decoration: none;
	text-align: center;
}

span{
	display: inline-block;
	width : 120px;
	height: 10px;
	color: rgb(202, 207, 210);
}

div.tester{
padding:20px;
background-color: white;
border: 1px solid #aaa;
box-shadow: 10px 10px 10px #aaa;
display:block;
	margin: 300px 25% 300px 25%;
}


.inputbox{
	width:180px;
	height:30px;
	padding-left: 10px;
	margin: 10px;
}

.inputbox:focus { 
	background-color: rgba(220,220,220,0.6); 
	border: 1px solid grey;
}

.loginbtn{
    background-color: rgba(0,0,128,0.8);
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 10px 2px;
    cursor: pointer;
}